@import url(./styles.css);
body {
  margin: 0;
}
header {
  max-width: 35rem;
  margin: auto;
}

header h1 {
  font-size: 2.1rem;
}
header h2 {
  font-size: 2.1rem;
}
header p {
  font-size: 0.8rem;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1.5rem;
}
article {
  max-height: 15rem;
  max-width: 21rem;
}
article:first-child {
  grid-row: 1 / 3;
  margin-block: 50%;
}

article:nth-child(3) {
  grid-column: 2 / 3;
}

article:last-child {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  margin-block: 50%;
}
