@import url(./styles.css);

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin-block: 5rem;
  margin-inline: 2rem;
  background-color: var(--very-light-gray);
}
header {
  text-align: center;
}
header h1 {
  font-size: 1.45rem;
  font-weight: 200;
  color: var(--very-dark-blue);
}
header h2 {
  font-size: 1.45rem;
  font-weight: 600;
  margin-block: 0.1rem;
  color: var(--very-dark-blue);
}
header p {
  font-weight: 200;
  font-size: 0.938rem;
  margin-block-start: 1rem;
  margin-block-end: 5rem;
  color: var(--very-dark-blue);
}

article {
  padding: 1.5rem;
  margin-block-end: 1.5rem;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
article h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-block-end: 0.5rem;
  color: var(--very-dark-blue);
}
article p {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.4rem;
  max-width: 95%;
  color: var(--grayish-blue);
}
article div {
  display: flex;
  justify-content: end;
  margin-block-start: 2.5rem;
}
article div img {
  max-width: 3.5rem;
}

article:nth-child(1) {
  border-block-start: 4px solid var(--cyan);
}
article:nth-child(2) {
  border-block-start: 4px solid var(--red);
}
article:nth-child(3) {
  border-block-start: 4px solid var(--orange);
}
article:nth-child(4) {
  border-block-start: 4px solid var(--blue);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
